@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


input:focus{
    outline: none !important;
}


iframe{
    max-width: 100% !important;
}

.image-holder{
    background-image: url("../../assets/images/icon.svg");
    background-position: center;
    background-size: 25%;
    background-repeat: no-repeat;
    background-color: #1a202c;
    padding-top: 75%;

    img{
        margin-top: -75%;
    }
}

.animate-ping {
    animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}
.animate-bounce	{
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(25%);
        animationTimingFunction: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: translateY(0);
        animationTimingFunction: cubic-bezier(0, 0, 0.2, 1);
    }
}
@keyframes ping {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    75%, 100% {
        transform: scale(2);
        opacity: 1;
    }
}

.content {

    h2 {
        @apply font-semibold text-2xl my-5;
    }

    ul{
        @apply list-disc ml-10 py-5;
    }
    a{
        @apply text-primary-100 underline;
    }
    table{
        @apply table-auto;
    }
    .wp-post-image {
        @apply w-full h-auto;
    }

}

.wp-block-button {

    @apply py-10;

    .wp-block-button__link {
        @apply bg-primary-100 text-white;
    }

}

[x-cloak] {
    display: none;
}

.snap {
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scroll-behavior: smooth
}

.snap::-webkit-scrollbar {
    display: none;
}

.snap > div {
    scroll-snap-align: center;
}

figure.size-large{
    @apply m-0;
}
figcaption{
    @apply text-center text-gray-600 pb-5;
}
.wp-block-button{
    @apply flex justify-center;
}

.wp-block-button__link{
    @apply p-3 text-center text-white bg-primary-100 font-semibold shadow-xl;
}

figure.is-type-video{
    @apply my-10;
}

figure iframe{
    width: 100%;
    height: auto;
    min-height: 480px;
}