@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.animate-ping{
    animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    75%, 100% {
        transform: scale(2);
        opacity: 1;
    }
}